[submodule "qrastr/thirdparty/SDL_image"]
	path = qrastr/thirdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = main
[submodule "qrastr/thirdparty/SDL"]
	path = qrastr/thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "qrastr/thirdparty/Qt-Advanced-Docking-System"]
	path = qrastr/thirdparty/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
	branch = master
[submodule "qrastr/thirdparty/fmt"]
	path = qrastr/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "qrastr/thirdparty/libpqxx"]
	path = qrastr/thirdparty/libpqxx
	url = https://github.com/jtv/libpqxx.git
	branch = master
[submodule "qrastr/thirdparty/spdlog"]
	path = qrastr/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
